<div class="text-center">
  <h2>Users List</h2>
</div>

<div class="container border p-2" style="background-color:darkkhaki;">
  <div style="word-wrap: break-word;" >
    <div class="my-2 text-right">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#studentModal">
        Add User
      </button>
    </div>
    <p-table #dt [columns]="allUsers" [value]="allUsers" [paginator]="true" [responsive]="true" [rows]="10" >
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'firstName'" pResizableColumn>First Name
            <p-sortIcon [field]="firstName"></p-sortIcon>
            <input type="text" placeholder="Search" class="ui-column-filter" style="width: 100%;"
              (input)="dt.filter($event.target.value, 'firstName', 'startsWith')">
          </th>
          <th [pSortableColumn]="'lastName'" pResizableColumn>Last Name
            <p-sortIcon [field]="lastName"></p-sortIcon>
            <input type="text" placeholder="Search" class="ui-column-filter" style="width: 100%;"
              (input)="dt.filter($event.target.value, 'lastName', 'startsWith')">

          </th>
          <th [pSortableColumn]="'Id'" pResizableColumn>Email
            <p-sortIcon [field]="Email"></p-sortIcon>
            <input type="text" placeholder="Search" class="ui-column-filter" style="width: 100%;"
              (input)="dt.filter($event.target.value, 'Email', 'startsWith')">
          </th>
          <th [pSortableColumn]="'phone'" pResizableColumn>Phone
            <!-- <p-sortIcon [field]="phone" ></p-sortIcon> -->
            <input type="text" placeholder="Search" class="ui-column-filter" style="width: 100%;"
              (input)="dt.filter($event.target.value, 'phone', 'contains')">
          </th>
          <th [pSortableColumn]="'Id'" pResizableColumn>Id
            <!-- <p-sortIcon [field]="Id" ></p-sortIcon> -->
            <input type="text" placeholder="Search" class="ui-column-filter" style="width: 100%;"
              (input)="dt.filter($event.target.value, 'Id', 'contains')">
          </th>
          <th [pSortableColumn]="'distance'" pResizableColumn>Distance
            <p-sortIcon [field]="distance"></p-sortIcon>
            <input type="text" placeholder="Search" class="ui-column-filter" style="width: 100%;"
              (input)="dt.filter($event.target.value, 'distance', 'contains')">
          </th>
          <th [pSortableColumn]="'startTime'" pResizableColumn>start Time
            <p-sortIcon [field]="startTime"></p-sortIcon>
            <input type="text" placeholder="Search" class="ui-column-filter" style="width: 100%;"
              (input)="dt.filter($event.target.value, 'startTime', 'contains')">
          </th>
          <th [pSortableColumn]="'endTime'" pResizableColumn>End Time
            <p-sortIcon [field]="endTime"></p-sortIcon>
            <input type="text" placeholder="Search" class="ui-column-filter" style="width: 100%;"
              (input)="dt.filter($event.target.value, 'endTime', 'contains')">
          </th>
          <th [pSortableColumn]="'date'" pResizableColumn>Date
            <p-sortIcon [field]="date"></p-sortIcon>
            <input type="text" placeholder="Search" class="ui-column-filter" style="width: 100%;"
              (input)="dt.filter($event.target.value, 'date', 'contains')">
          </th>
         
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-i='rowIndex' let-user>

        <tr>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.Id}}</td>
          <td>{{user.distance}}</td>
          <td>{{user.startTime}}</td>
          <td>{{user.endTime}}</td>
          <td>{{user.date}}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="indexes(i)" data-toggle="modal"
              data-target="#deleteStudentModal">Delete</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="studentModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Students list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="studentForm">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstName" value="firstName"
              placeholder="Enter First Name">
            <div class="text-danger" *ngIf="submitted&&studentForm.get('firstName').invalid">First Name Required</div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" value="lastName"
              placeholder="Enter Last Name">
            <div class="text-danger" *ngIf="submitted&&studentForm.get('lastName').invalid">Last Name Required</div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email" value="email" placeholder="Enter Email">
            <div class="text-danger" *ngIf="submitted&&studentForm.get('email').invalid">Email Required</div>
          </div>
          <div class="form-group">
            <label>Id</label>
            <input type="text" class="form-control" formControlName="Id" value="Id" placeholder="Enter Id">
            <div class="text-danger" *ngIf="submitted&&studentForm.get('Id').invalid">Id Required</div>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" formControlName="phone" value="phone"
              placeholder="Enter Phone Number">
            <div class="text-danger" *ngIf="submitted&&studentForm.get('phone').invalid">Phone Required</div>
          </div>
          <div class="form-group">
            <label>Start Time</label>
            <input type="time" class="form-control" formControlName="startTime" value="startTime"
              placeholder="Enter Time">
            <div class="text-danger" *ngIf="submitted&&studentForm.get('startTime').invalid">Starting Time Required
            </div>
          </div>
          <div class="form-group">
            <label>End Time</label>
            <input type="time" class="form-control" formControlName="endTime" value="endTime"
              placeholder="Enter End Time">
            <div class="text-danger" *ngIf="submitted&&studentForm.get('endTime').invalid">End Time Required</div>
          </div>

          <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="date" value="date" placeholder="Enter Date">
            <div class="text-danger" *ngIf="submitted&&studentForm.get('date').invalid">Date Required</div>
          </div>
          <div class="form-group">
            <label>Distance</label>
            <input type="text" class="form-control" formControlName="distance" value="distance"
              placeholder="Enter Distance">
            <div class="text-danger" *ngIf="submitted&&studentForm.get('distance').invalid">Distance Required</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="create()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal For Delete -->
<div class="modal fade" id="deleteStudentModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Are you sure want to delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>